//Path
$font-path: '../fonts/';
$image-path: '../images/';
//Font family
$font: 'UniNeueRegular';
$font-bold: 'UniNeueBold';
$font-book: 'UniNeueBook';
//Font size
$base-font: 14px;
//Color
$white: #FFFFFF;
$black: #000000;
$dark-blue:#1C2833;
$red:#F04D46;
$yellow:#FFBE00;
$orange:#F95D0E;
$pink:#DF3581;
$gray:#909497;
$light-gray: #F3F3F3;
$dark-gray:#989898;
$buyBg:#F0F5FB;

//Btn-Bg
$btn-bg:#17202A;
$btn-arrow-bg:#34495E;