@@include('../layout/head.html',{ "title": "TATA ACE - Home" })

<body>
    @@include('../layout/header.html')
    <main class="home">
        <section class="home__bannerContainer">
            <div class="home__bannerSection home__bannerSection--banner1">
                <div class="container home__bannerContent">
                    <h1>Start earning with tata ace</h1>
                    <h2>in four simple steps</h2>
                    <ul>
                        <li><i class="icon-1"></i><span>Sign Up and <br>Log In</span></li>
                        <li><i class="icon-2"></i><span>Set up your profile as <br>Driver or Vehicle <br>Owner</span></li>
                        <li><i class="icon-3"></i><span>Select  your <br>Location</span></li>
                        <li><i class="icon-4"></i><span>Driver? Browse Jobs! <br>Vehicle Owner? <br>Find Drivers!</span></li>
                    </ul>
                    <a class="home__bannerBtn" href="javascript:;" title="Start Now">Start Now</a>
                </div>
            </div>
        </section>
        <section class="home__buyGetFind">
            <div class="container">
                <ul>
                    <li>
                        <img src="assets/images/home/buy-tata-ace.png" alt="BUY TATA ACE" title="BUY TATA ACE">
                        <div class="home__buyContent">
                            <p>Aapke naye business ka pehla saathi</p>
                            <a class="smallBtn" href="javascript:;" title="BUY TATA ACE"><span class="smallBtn__txt">BUY TATA ACE</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/home/get-easy-finance.png" alt="GET EASY FINANCE" title="GET EASY FINANCE">
                        <div class="home__buyContent">
                            <p>Tez aur aasaan Loans</p>
                            <a class="smallBtn" href="javascript:;" title="GET EASY FINANCE"><span class="smallBtn__txt">GET EASY FINANCE</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/home/find-a-job.png" alt="FIND A JOB" title="FIND A JOB">
                        <div class="home__buyContent">
                            <p>Aasaani se Naukri dhoondiye</p>
                            <a class="smallBtn" href="javascript:;" title="FIND A JOB"><span class="smallBtn__txt">FIND A JOB</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="home__">

        </section>
    </main>
    @@include('../layout/footer.html')
    <!--Script-->
    <script src="assets/js/lib.js"></script>
    <script src="assets/js/ui.js"></script>
</body>

</html>