@@include('../layout/head.html',{ "title": "TATA ACE - Home" })

<body>
    @@include('../layout/header.html')
    <main class="home">
        <section class="home__bannerContainer">
            <div class="home__bannerSection home__bannerSection--banner1">
                <div class="container home__bannerContent">
                    <h1>Start earning with tata ace</h1>
                    <h2>in four simple steps</h2>
                    <ul>
                        <li><i class="icon-1"></i><span>Sign Up and <br>Log In</span></li>
                        <li><i class="icon-2"></i><span>Set up your profile as <br>Driver or Vehicle <br>Owner</span></li>
                        <li><i class="icon-3"></i><span>Select  your <br>Location</span></li>
                        <li><i class="icon-4"></i><span>Driver? Browse Jobs! <br>Vehicle Owner? <br>Find Drivers!</span></li>
                    </ul>
                    <a class="home__bannerBtn" href="javascript:;" title="Start Now">Start Now</a>
                </div>
            </div>
        </section>
        <section class="home__buyGetFind">
            <div class="container">
                <ul>
                    <li>
                        <img src="assets/images/home/buy-tata-ace.png" alt="BUY TATA ACE" title="BUY TATA ACE">
                        <div class="home__buyContent">
                            <p>Aapke naye business ka pehla saathi</p>
                            <a class="smallBtn" href="javascript:;" title="BUY TATA ACE"><span class="smallBtn__txt">BUY TATA ACE</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/home/get-easy-finance.png" alt="GET EASY FINANCE" title="GET EASY FINANCE">
                        <div class="home__buyContent">
                            <p>Tez aur aasaan Loans</p>
                            <a class="smallBtn" href="javascript:;" title="GET EASY FINANCE"><span class="smallBtn__txt">GET EASY FINANCE</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/home/find-a-job.png" alt="FIND A JOB" title="FIND A JOB">
                        <div class="home__buyContent">
                            <p>Aasaani se Naukri dhoondiye</p>
                            <a class="smallBtn" href="javascript:;" title="FIND A JOB"><span class="smallBtn__txt">FIND A JOB</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="home__traningSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="heading-1">Training, Finance, Assistance</h1>
                        <h3 class="heading-3">Paaiye apna vyaapar shuru karne ka harr saadhan</h3>
                        <p>Badhaiye pehela kadam safalta ki or. Jaaniye naye tarike apne business ko munaafedaar banane ke, aur bhool jaiye paiso ke<br> intezaam ki pareshaani!</p>
                        <p>Ab kaamyaabi ki udaan oonchi hogi, par kathin nahi.</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <img src="assets/images/home/training-1.jpg" alt="Sahi Training" title="Sahi Training">
                        <div class="home__traningContent">
                            <span class="home__downarrow"></span>
                            <p>Apne vyapaar ko <br>banaye kaamyaab <br>Sahi Training ke saath</p>
                            <a class="smallBtn" href="javascript:;" title="Training Payiye"><span class="smallBtn__txt">Training Payiye</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/home/training-2.jpg" alt="Aasan Loans Payein" title="Aasan Loans Payein">
                        <div class="home__traningContent">                            
                            <span class="home__uparrow"></span>
                            <p>Aasan Loans payein<br> Sahi mauko ka faayda<br> uthayein</p>
                            <a class="smallBtn" href="javascript:;" title="Loans Payiye"><span class="smallBtn__txt">Loans payiye</span><span class="smallBtn__arrow"></span></a>
                        </div>                        
                    </li>
                    <li>
                        <img src="assets/images/home/training-3.jpg" alt="Business" title="Business">
                        <div class="home__traningContent">
                            <span class="home__downarrow"></span>
                            <p>Business shuru<br> karna ab ban gaya <br>aasaan!</p>
                            <a class="smallBtn" href="javascript:;" title="Sahayata"><span class="smallBtn__txt">Sahayata</span><span class="smallBtn__arrow"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="home__storiesSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="heading-1">Ace Stories</h1>
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <ul class="home__customerSection slider-nav-thumbnails">
                                    <li>
                                        <figure class="home__profile">
                                            <img src="assets/images/home/Abhinappa-Gowda.png" alt="Abhinappa Gowda" title="Abhinappa Gowda" />
                                        </figure>
                                        <i class="home__youtubeicon"></i>
                                        <p class="home__customerTitle">Abhinappa Gowda</p>
                                        <p>Kolar</p>
                                    </li>
                                    <li>
                                        <figure class="home__profile">
                                            <img src="assets/images/home/Pravin-Brahmankar.png" alt="Pravin Brahmankar" title="Pravin Brahmankar" />
                                        </figure>
                                        <i class="home__youtubeicon"></i>
                                        <p class="home__customerTitle">Pravin Brahmankar</p>
                                        <p>Dhule</p>
                                    </li>
                                    <li>
                                        <figure class="home__profile">
                                            <img src="assets/images/home/Madhava-Reddy.png" alt="Madhava Reddy" title="Madhava Reddy" />
                                        </figure>
                                        <i class="home__youtubeicon"></i>
                                        <p class="home__customerTitle">Madhava Reddy</p>
                                        <p>Hyderabad</p>
                                    </li>
                                    <li>
                                        <figure class="home__profile">
                                            <img src="assets/images/home/Laxman-Adikesavan.png" alt="Laxman Adikesavan" title="Laxman Adikesavan" />
                                        </figure>
                                        <i class="home__youtubeicon"></i>
                                        <p class="home__customerTitle">Laxman Adikesavan</p>
                                        <p>Chennai</p>
                                    </li>
                                    <li>
                                        <figure class="home__profile">
                                            <img src="assets/images/home/Sangam-Tulasi.png" alt="Sangam Tulasi Laxman Raob" title="Sangam Tulasi Laxman Raob" />
                                        </figure>
                                        <i class="home__youtubeicon"></i>
                                        <p class="home__customerTitle">Sangam Tulasi Laxman Raob</p>
                                        <p>Vijayawada</p>
                                    </li>
                                    <li>
                                        <figure class="home__profile">
                                            <img src="assets/images/home/Ramdas.jpg" alt="Ramdas" title="Ramdas" />
                                        </figure>
                                        <i class="home__youtubeicon"></i>
                                        <p class="home__customerTitle">Ramdas</p>
                                        <p>Nasik</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <ul class="home__testimonialSection slider">
                                    <li>
                                        <figure class="home__profileVideo">
                                            <img src="assets/images/home/Madhava-Reddy-video-thumb.jpg" alt="Madhava Reddy" title="Madhava Reddy" />
                                        </figure>
                                        <i class="home__videoicon"></i>
                                        <div class="home__testimonialContent">
                                            <p><span>Madhava Reddy</span> | Hyderabad</p>
                                            <p>TATA ACE changed my life. Not only am Every happy, even the drivers re very happy with TATA ACE</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home__driverSection">
            <div class="container">
                <div clas="row">
                    <div class="col-lg-12">
                        <div class="home__driverbg"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-3">
                            <div class="home__driverContent">
                                <img src="assets/images/home/expet-driver.png" alt="Be an Expert Driver" title="Be an Expert Driver">
                                <h3>Be an<br> Expert Driver</h3>
                                <p>It is a long established fact that a reader will be distracted...</p>
                                <a href="javascript:;" class="bigBtn" title="Know More"><span class="bigBtn__txt">Know More</span><span class="bigBtn__arrow"></span></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="home__driverContent">
                                <img src="assets/images/home/become-tatagram.png" alt="Become TATA Gram Mitra" title="Become TATA Gram Mitra">
                                <h3>Become<br> 'TATA Gram Mitra'</h3>
                                <p>It is a long established fact that a reader will be distracted...</p>
                                <a href="javascript:;" class="bigBtn" title="Register Now"><span class="bigBtn__txt">Register Now</span><span class="bigBtn__arrow"></span></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="home__driverContent">
                                <img src="assets/images/home/drivers-needed.png" alt="Drivers Needed!" title="Drivers Needed!">
                                <h3>Drivers<br> Needed!</h3>
                                <p>It is a long established fact that a reader will be distracted...</p>
                                <a href="javascript:;" class="bigBtn" title="Sign Up Now"><span class="bigBtn__txt">Sign Up Now</span><span class="bigBtn__arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include('../layout/footer.html')
    <!--Script-->
    <script src="assets/js/lib.js"></script>
    <script src="assets/js/ui.js"></script>
</body>

</html>